body {
    background-color: rgb(189, 204, 248);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Mobile responsive*/

@media (max-width: 770px){
.container {
    margin: 0 10%;
}
}